<!DOCTYPE html>
<html lang="en">
  <%-include('partials/encabezado.html')%>
<body>
    <div class="container" style="width: 700px; padding: 1%; background-color: rgb(136, 177, 253);">
      <form method="post" onsubmit="calcularTotal(event)">
          <div class="form-group">
            <label for="num_contrato">Número de Contrato:</label>
            <input type="text" class="form-control" id="num_contrato" placeholder="Ingresa el número de contrato" name="num_contrato">
          </div>
          <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" id="nombre" placeholder="Ingresa el nombre del empleado" name="nombre">
          </div>
          <div class="form-group">
            <label for="domicilio">Domicilio:</label>
            <textarea class="form-control" rows="3" id="domicilio" placeholder="Ingresa el domicilio del empleado" name="domicilio"></textarea>
          </div>
          <div class="form-group">
            <label for="nivel_estudio">Nivel de Estudio:</label>
            <select class="form-control" id="nivel_estudio" name="nivel_estudio">
              <option value="1">Licenciatura</option>
              <option value="2">Maestría</option>
              <option value="3">Doctorado</option>
            </select>
          </div>
          <div class="form-group">
            <label for="pago_diario">Pago Diario:</label>
            <input type="number" class="form-control" id="pago_diario" placeholder="Ingresa el pago diario del empleado" name="pago_diario">
          </div>
          <div class="form-group">
            <label for="dias_trabajados">Días Trabajados:</label>
            <input type="number" class="form-control" id="dias_trabajados" placeholder="Ingresa los días trabajados por el empleado" name="dias_trabajados">
          </div>
          <br>
          <button type="submit" class="btn btn-primary">Enviar</button>
          <button type="reset" class="btn btn-primary" onclick="limpiar()">Limpiar</button>
        </form>
      <div id="resultados">

      </div>
    </div>
<%-include('partials/piePagina.html')%>
</body>
</html>
<script>
  function calcularTotal(event) {
    event.preventDefault();
      
    var numContrato = document.getElementById("num_contrato").value;
    var nombre = document.getElementById("nombre").value;
    var nivelEstudio = document.getElementById("nivel_estudio").value;
    var pagoDiario = parseFloat(document.getElementById("pago_diario").value);
    var diasTrabajados = parseInt(document.getElementById("dias_trabajados").value);
    var subtotal = 0;
    var impuesto_isr = 0;
    var  total_pagar = 0;

    if (nivelEstudio == 1) {
      pagoDiario *= 1.2;
    } else if (nivelEstudio == 2) {
      pagoDiario *= 1.5;
    } else if (nivelEstudio == 3) {
      pagoDiario *= 2;
    }
  
  subtotal = diasTrabajados * pagoDiario;
  impuesto_isr = subtotal * 0.16;
  total_pagar = subtotal - impuesto_isr;

  const resultadosDiv = document.getElementById('resultados');
      resultadosDiv.innerHTML = `
      <br>
      <table class="table">
        <thead>
          <tr>
            <th colspan="2">Datos del empleado: </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Número de contrato:</td>
            <td>${numContrato}</td>
          </tr>
          <tr>
            <td>Nombre:</td>
            <td>${nombre}</td>
          </tr>
          <tr>
            <td>Nivel de estudio:</td>
            <td>${nivelEstudio}</td>
          </tr>
          <tr>
            <td>Pago diario:</td>
            <td>${pagoDiario}</td>
          </tr>
          <tr>
            <td>Días trabajados:</td>
            <td>${diasTrabajados}</td>
          </tr>
          <tr>
            <td>Subtotal:</td>
            <td>${subtotal.toFixed(2)}</td>
          </tr>
          <tr>
            <td>Impuesto:</td>
            <td>${impuesto_isr.toFixed(2)}</td>
          </tr>
          <tr>
            <td>Total a pagar:</td>
            <td>${total_pagar.toFixed(2)}</td>
          </tr>
        </tbody>
      </table>
    `;
  }

function limpiar() {
    document.getElementById("num_contrato").value = "";
    document.getElementById("nombre").value = "";
    document.getElementById("domicilio").value = "";
    document.getElementById("nivel_estudio").value = "";
    document.getElementById("pago_diario").value = "";
    document.getElementById("dias_trabajados").value = "";
    const resultadosDiv = document.getElementById('resultados');
    resultadosDiv.innerHTML = "";
}
</script>